{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrap">
    <section class="site-section pt-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6">
                    <h2 class="mb-4">Category: {{cat}}</h2>
                </div>
            </div>
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="row mb-5 mt-5">
                        <div class="col-md-12">
                            {% for article in articles %}
                            <div class="post-entry-horzontal">
                                <a href="{% url 'blog:detail' article.id %}">
                                    <div class="image element-animate" data-animate-effect="fadeIn"
                                         style="background-image: url({{ article.image.url }});"></div>
                                    <span class="text">
<div class="post-meta">
<span class="author mr-2"><img src=" {% if author.avatar.url %} {{ author.avatar.url }} {% else %} {% static 'images/avatar.jpg' %} {% endif %}" alt="Colorlib">{{article.author.username}}</span>&bullet;
<span class="mr-2">{{article.created_date}}</span> &bullet;
<span class="mr-2">{{article.category}}</span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span>{{ article.comment_set.count }}</span>
</div>

<h2>{{article.title}}</h2>
</span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" id="s"
                                       placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box">
                        <div class="bio text-center">
                            <img src="{{ author.avatar.url }}" alt="Image Placeholder" class="img-fluid">
                            <div class="bio-body">
                                <h2>{{ author.user.get_full_name }}</h2>
                                <p>{{ author.bio }}</p>
                                <p class="social">
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                {% for article in last_article %}
                                <li>
                                    <a href="{% url 'blog:detail' article.id %}">
                                        <img src="{{ article.image.url }}" alt="Image placeholder" class="mr-4">
                                        <div class="text">
                                            <h4>{{ article.title }}</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">{{ article.created_date}}</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            {% for category in categories %}
                            <li><a href="#">{{category}} <span>(12)</span></a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            {% for tag in tags %}
                            <li><a href="#">{{tag}}</a></li>
                            {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}